<div id="<%= dom_id response %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Elector:</strong>
    <%= response.elector_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= response.status_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Note:</strong>
    <%= response.note %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= response.user_id %>
  </p>
  <% if action_name != "show" %>
    <%= link_to "Show this response", response, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this response", edit_response_path(response), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
