<!DOCTYPE html>
<html>
  <head>
    <title>RailsScaffold</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
  </head>
  <body>
    <main class="min-h-screen bg-gray-50 dark:bg-gray-900">
      <% if notice.present? || alert.present? %>
        <% notice_colour = notice.present? ? "green" : "red" %>
        <% notice_id = notice.present? ? "notice" : "alert" %>
        <div id="<%=notice_id%>" class="absolute top-2 right-0 flex items-center rounded-l-lg xl:max-w-sm shadow-lg bg-<%=notice_colour%>-100 border-l-4 border-<%=notice_colour%>-500 text-sm text-<%=notice_colour%>-700 p-4 ml-4 z-50"  role="alert">
          <span>
            <%= notice || alert %>
          </span>
          <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-<%=notice_colour%>-100 text-<%=notice_colour%>-500 rounded-lg focus:ring-2 focus:ring-<%=notice_colour%>-400 p-1.5 hover:bg-<%=notice_colour%>-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-<%=notice_colour%>-400 dark:hover:bg-gray-700" data-dismiss-target="#<%=notice_id%>" onclick="dismissAlert('<%=notice_id%>')" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
          </button>
        </div>
      <% end %>
      <nav class="fixed top-0 z-40 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
          <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
              <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                <span class="sr-only">Open sidebar</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                </svg>
              </button>
              <%= link_to root_path, class: "flex ms-2 xl:me-24" do%>
                <%= image_tag asset_path("logo.png"), class: "h-10 me-3", alt: "Logo"%>
                <span class="self-center text-lg font-semibold sm:text-xl whitespace-nowrap dark:text-white">Scaffold</span>
              <% end %>
            </div>
            <% if current_user%>
              <div class="flex items-center">
                <div class="flex items-center ms-3">
                  <div>
                    <button type="button" class="flex text-sm rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                      <span class="sr-only">Open user menu</span>
                      <%= image_tag asset_path("profile.png"), class: "w-8 h-8 rounded-full", alt: "Profile"%>
                    </button>
                  </div>
                  <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
                    <div class="px-4 py-3" role="none">
                      <p class="text-sm text-gray-900 dark:text-white" role="none">
                        <%= current_user.first_name %> <%= current_user.last_name %>
                      </p>
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                        <%= current_user.email %>
                      </p>
                    </div>
                    <ul class="py-1" role="none">
                      <li>
                        <%= link_to "Sign out",  destroy_user_session_path, data: {"turbo-method": "delete"}, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"%>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </nav>
      <aside id="logo-sidebar" class="fixed top-0 left-0 z-30 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 lg:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
        <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
          <ul class="space-y-2 font-medium">
            <li>
              <%= link_to root_path, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"  do%>
                <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path clip-rule="evenodd" fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z"></path>
                </svg>
                <span class="ms-3">Home</span>
              <% end %>
            </li>
          </ul>
        </div>
      </aside>
      <div class="p-4 lg:ml-64">
        <div class="p-4 mt-14">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
<script>
  document.addEventListener("turbo:load", function() {
    setInterval(() => {
      dismissAlert("notice");
      dismissAlert("alert");

    }, 3000);

  })

  function dismissAlert(alertId) {
    var alertElement = document.getElementById(alertId);
    if (alertElement) {
      alertElement.style.display = "none";
    }
  }
</script>
